body{
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: 'Heebo', sans-serif;
}
/* * {
  border: 1px solid white;
} */

.logo{
  width: 50px;
  height: 50px;
}
.section {
  height: 100vh;
}
.halfsection {
  height: 50vh;
  display: flex;
}
h2 {
  font-weight: 300;
  line-height: normal;
  font-size: 40px;
  color: white;

}
p {
  font-weight: 300;
  line-height: 32px;
  font-size: 16px;
  color: white;
}

.header {
  width: 98vw;
  height: 10vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-direction: row;
  background-color: black;
  color: white;
}

.header p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  color: white;
  font-weight: 500;
}

.header p:hover{
  color: #65a1c6;
}

.logo {
  flex: 2;
}

.first{
  height: 100%;
  width: 100%;
  /* background-image: url("images/hero-bw2.jpg"); */
  display: flex;
  justify-content: center;
  /* background-size: cover; */
  /* background-color: #eeee; */
}

.headline-box{
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 50%;
  color: white;
  font-weight: 700;
  font-size: 80px;
  margin-top: 25%;
  letter-spacing: 13px;
}

.headline-box:hover{
  color: black;
}

.scroll-down{
  position: absolute;
  display: flex;
  align-self: center;
  font-weight: bold;
  color: white;
  margin-top: 330px;
}


.pil-ner-top{
  /* position: absolute; */
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  align-self: center;
  font-weight: bold;
  color: white;
  margin-top: 360px;
}

.hero-img{
  width: 100%;
  height: 100vh;
}

.second {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.quote {
  background-color: white;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #C4C4C4;
  letter-spacing: 4px;
}

.black-text{
  color: black;
}

.third {
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("img/second-black.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: black;
}

/* .second-img{
  width: 100%;
  height: 100%;
} */

.quality-content{
  font-size: 30px;
  font-weight: lighter;
  color: #eeee;
  width: 350px;
  height: 350px;
  margin-right: 180px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.headline{
  font-size: 70px;
  font-weight: 100;
  color: #eeee;
  margin-top: 30px;
}

.button{
  width: 200px;
  height: 50px;
  padding: 8px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #65a1c6;
  display: flex;
  align-self: center;
  /* align-content: center; */
  justify-content: center;

  font-size: 30px;
  font-weight: 100;
  color: #eeee;
}

.grid-container {
  display: grid;
  height: inherit;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: repeat(6, auto); */
}
.grid-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.grid-image {

}
.grid-section {
  height: 300vh;
}
@media screen and (max-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}

footer {
  width: 100%;
  height: 30vh;
}
.footermenu{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.footermenu-content {
  display: flex;
  flex-direction: column;
}

.footer-title{
  font-weight: 500;
  font-size: 20px;
}

.designed-by{
  font-weight: 100;
  margin-bottom: -2px;
}

/* .footermenu-content p{
  font-weight: 500;
} */
.footermenu-content a {
  /* padding-top: 15px; */
  color: white;
  text-decoration: none;
  font-weight: 100;
}

.footermenu-content a:hover {
  color: #65a1c6;
}

.copyright{
  font-weight: 100;
}

.to-top {
  /* justify-content: flex-start; */
  font-size: 20px;
  text-decoration:none;
  color: white;
  font-weight: 500;
}

.to-top:hover{
  color: #65a1c6;
}

.arrow {
  /* background-repeat: no-repeat; */
  width: 15px;
  height: 15px;
  margin-left: 16px;
}

.arrow.move {
}

.to-top .arrow {
  transition: all 0.1s ease-in-out;
}

.to-top:hover .arrow {
  transform: translateY(-10px);
}
.socialmedia {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
}

.social-icons{
  padding: 30px;
  width: 40px;
  height: 40px;
}
